/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&display=swap');

:root {
    --primary-color: #05be53;
    --primary-color-hover: #00913e;
    --red: #d6251a;
}

* {
    font-family: 'Montserrat';
    color: #4d4d4d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    color: #00913e;
}
select,
input,
.btn {
    outline: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.card {
    border-radius: 0 !important;
    font-size: smaller;
}
label {
    float: left;
}
.image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.537), rgba(0, 0, 0, 0)),
        url('./images/edited-hero.png');
    height: 90%;
    width: 100%;
    background-position: 100% 40%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 9em;
}
.navigation {
    z-index: 2;
    top: 0;
}
.homeJumbotron {
    min-height: 80%;
}
.secondary-btn {
    background-color: #05be53;
}
.secondary-btn:hover,
.secondary-btn:focus {
    outline: none !important;
    box-shadow: none !important;
    background-color: #00913e;
}
.btn-other {
    border-width: 0.13em !important;
}
.btn-other:hover,
.btn-other:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: #00913e !important;
    color: #00913e !important;
}

.heading,
.paragraph {
    width: 40vw;
}
.heading {
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 250%;
}
.paragraph {
    font-size: smaller;
}

.custom_card {
    margin: -11vh 8% 20vh 8%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 10px 10px 0 0;
}
.btn-red {
    background-color: var(--red);
    color: #fff;
}
.btn-red:hover {
    color: #fff !important;
    background: red;
}
.text-sm-left {
    text-align: center;
}
.btn-sub {
    border-width: 0.13em !important;
    border-color: #00913e !important;
    color: #00913e !important;
}
.btn-sub:hover,
.btn-sub:focus {
    outline: none !important;
    box-shadow: none !important;
}

@media only screen and (max-width: 990px) {
    .image {
        background-position: 100% 75%;

        /* background-size: auto;
        padding-left: 2em; */
    }
}

@media only screen and (max-width: 700px) {
    .image {
        padding-left: 6em;
    }
}

@media only screen and (max-width: 550px) {
    .image {
        padding-left: 4em;
    }
}

@media only screen and (max-width: 500px) {
    .navigation {
        border: none !important;
    }
    .image {
        background-position: 85% 45%;
        background-size: auto;
        padding: 0 4em 0 2em;
    }
    .heading {
        width: 100%;
    }
    .paragraph {
        width: 100%;
        font-size: initial;
    }
    .custom_card {
        padding-left: 0% !important;
        padding-right: 0% !important;
        margin-left: 5%;
        margin-right: 5%;
    }
    .card-form {
        text-align: left !important;
        padding-left: 1.5em !important;
        padding-right: 1.5em !important;
    }
}

@media only screen and (max-width: 300px) {
    .image {
        background-position: 90% 40%;
        background-size: cover;
        /* padding-left: 1em; */
        /* padding: 0 4em 0 2em; */
    }
    .heading,
    .paragraph {
        width: 80vw;
    }
}
@media only screen and (min-width: 576px) {
    .text-sm-left {
        text-align: left !important;
    }
}
