.experienceList {
    font-size: smaller;
    font-weight: bold;
}

.learnMore {
    font-weight: bolder;
    font-size: small;
    transition: background 0.3s linear, color 0.3s ease-in-out;
}
.learnMore:hover {
    background: #00913e !important;
    color: #fff !important;
}
