/* :root {
    --primary-color: #05be53;
    --primary-color-hover: #00913e;
    --red: #d6251a;
} */

.root {
    display: auto;
    position: relative;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 16vh;
    /* margin-bottom: 15vh; */
    overflow: hidden;
}

.mobileApp {
    /* position: relative; */

    position: absolute;
    margin-top: -4.4em;
    right: 0;
}
.jumbotron {
    background: var(--primary-color-hover);
}
.jumbotronContent {
    display: auto;
}
.head {
    color: #fff;
    font-weight: bold;
    max-width: 30%;
}
.body {
    color: #fff;
    font-weight: light;
    font-size: smaller;
    max-width: 40%;
}
.store {
    margin-top: -40px;
    margin-bottom: -40px;
    /* cursor: pointer; */
}
.storeGoogle {
    margin-right: -35px;
    margin-left: -7px;
}
.jumbotron {
}
@media only screen and (max-width: 880px) {
    .mobileApp {
        right: -50px;
        margin-left: -100px;
        margin-right: -10px;
    }
    .head {
        max-width: 40%;
    }
    .body {
        max-width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .mobileApp {
        right: -80px;
    }
    .head {
        max-width: 45%;
    }
    .body {
        max-width: 55%;
    }
}
@media only screen and (max-width: 700px) {
    .mobileApp {
        right: -95px;
    }
}
/* @media only screen and (max-width: 650px) {
    .root {
        padding-left: 3%;
        padding-right: 3%;
    }
    .mobileApp {
        right: -6.6em;
    }
} */
@media only screen and (max-width: 660px) {
    .root {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 0% !important;
        padding-right: 0% !important;
    }
    .jumbotron {
        border-radius: 0 !important;
    }
    .mobileApp {
        position: absolute;
        margin-top: 10em;
        left: 50%;
        margin-left: calc(-1169px / 2);
        display: none;
    }
    .head,
    .body {
        max-width: 100%;
    }
    .jumbotronContent {
        display: flex;
        flex-direction: column;
        padding: 80px;
    }
    .store {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
    .storeGoogle {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
}
